.history-data-heading {
    background-color: rgb(219, 174, 229);
}

.history-data-body {
    background-color: white;
}

.content {
    padding-bottom: 30rem;
}

.status-reject {
    width: 8rem;
    border-radius: 20px;
    background-color: rgb(241, 83, 83);
    font-weight: bold;
    text-align: center;
}

.status-approve {
    width: 8rem;
    border-radius: 20px;
    background-color: rgb(102, 214, 111);
    font-weight: bold;
    text-align: center;
}

.endDate {
    width: 25rem;
    background-color: white;
    border-radius: 20px;
}