.header {
    background-color: #f6c5e3;
}


.sideColumn{
    background-color: rgb(244, 235, 198);
    height: 100%;
    width: 13rem;
    position: fixed;
}

.content{
    margin-left: 13rem;
    height: 100%;
    padding-top: 50rem;
    padding-bottom: 100rem;
    background-color: rgb(172, 216, 238);
    display: flex;
    flex-wrap: wrap;
}

#logout-tab {
    margin-top: 14rem;
}

.borrow {
    background-color: #f6c5e3;
    border-radius: 20px;
}

.sideColumn a{
    text-decoration: none;
    color: black;
}

.page-fill {
    padding-bottom: 30rem;
    background-color: rgb(172, 216, 238);
}